h1.load{
  text-align: center;
  text-transform: uppercase;
  font-size: 4.6875em;
  color: black;
  text-shadow: 2px 2px 2px aqua;
  letter-spacing: 0.01em;
  padding-top: 10%;
}

h1.load1{
  text-align: center;
  text-transform: uppercase;
  font-size: 4.6875em;
  color: #fff;
  text-shadow: 2px 2px 2px aqua;
  letter-spacing: 0.01em;
  padding-top: 10%;
}



.load span{
  text-shadow:
    0 0 2px rgba(204, 208, 212,0.9),
    0 15px 25px rgba(0, 0, 0, 0.3),
    0 -2px 3px rgba(0, 0, 0, 0.1),
    0 -5px 10px rgba(255, 255, 255, 0.5),
    0 5px 10px rgba(0, 0, 0, 0.3),
    0 3px 4px rgba(255, 255, 255, 0.2),
    0 0 20px rgba(255, 255, 255, 0.45);
  
    animation: loading 1.20s ease-in-out infinite alternate;
}

@keyframes loading {
	to {text-shadow:
    0 0 2px rgba(204, 208, 212,0.2),
    0 0 3px rgba(0, 0, 0, 0.02),
    0 0 0 rgba(0, 0, 0, 0),
    0 0 0 rgba(255, 255, 255, 0),
    0 0 0 rgba(0, 0, 0, 0),
    0 0 0 rgba(255, 255, 255, 0),
    0 0 0 rgba(255, 255, 255, 0);}
}

.load span:nth-child(2){
  animation-delay:0.15s;
}
.load span:nth-child(3){
  animation-delay:0.30s;
}
.load span:nth-child(4){
  animation-delay:0.45s;
}
.load span:nth-child(5){
  animation-delay:0.60s;
}
.load span:nth-child(6){
  animation-delay:0.75s;
}
.load span:nth-child(7){
  animation-delay:0.90s;
}
.load span:nth-child(8){
  animation-delay:1.05s;
}
.load span:nth-child(9){
  animation-delay:1.20s;
}

@media (max-width: 400px){

  h1.load {

    font-size: 3em;

  }

}

.load1 span{
  text-shadow:
    0 0 2px rgba(204, 208, 212,0.9),
    0 15px 25px rgba(0, 0, 0, 0.3),
    0 -2px 3px rgba(0, 0, 0, 0.1),
    0 -5px 10px rgba(255, 255, 255, 0.5),
    0 5px 10px rgba(0, 0, 0, 0.3),
    0 3px 4px rgba(255, 255, 255, 0.2),
    0 0 20px rgba(255, 255, 255, 0.45);
  
    animation: loading 1.20s ease-in-out infinite alternate;
}

@keyframes loading {
  to {text-shadow:
    0 0 2px rgba(204, 208, 212,0.2),
    0 0 3px rgba(0, 0, 0, 0.02),
    0 0 0 rgba(0, 0, 0, 0),
    0 0 0 rgba(255, 255, 255, 0),
    0 0 0 rgba(0, 0, 0, 0),
    0 0 0 rgba(255, 255, 255, 0),
    0 0 0 rgba(255, 255, 255, 0);}
}

.load1 span:nth-child(2){
  animation-delay:0.15s;
}
.load1 span:nth-child(3){
  animation-delay:0.30s;
}
.load1 span:nth-child(4){
  animation-delay:0.45s;
}
.load1 span:nth-child(5){
  animation-delay:0.60s;
}
.load1 span:nth-child(6){
  animation-delay:0.75s;
}
.load1 span:nth-child(7){
  animation-delay:0.90s;
}
.load1 span:nth-child(8){
  animation-delay:1.05s;
}
.load1 span:nth-child(9){
  animation-delay:1.20s;
}

@media (max-width: 400px){

  h1.load1 {

    font-size: 3em;

  }

}